<!-- Choose the Language -->
<div id="languagePg" class="choose-language">
  <div class="choose-layout d-flex flex-column flex-md-row justify-content-center align-items-xs-start align-items-md-center">
    <!-- Regular Layout -->
    <div class="container-fluid">
     <!-- Add code when the site as 2 layouts (see on draft) -->
    </div>
    <!-- Cool Layout -->
    <div class="container-fluid">
      <!-- Add code when the site as 2 layouts (see on draft) -->
    </div>

  </div>
  {% include _components/nav-languagebar.html %}
</div>
