/* MAIN TYPOGRAPHY--------------------------------------- */
/*----------------------------------------- */
/* Text weight */
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
/*----------------------------------------- */
/* Text style */
.font-italic {
  font-style: italic;
}
/*----------------------------------------- */
/* Text size */
.font-size-12pt {
  font-size: $font-size-base * 0.60;
}
.font-size-13pt {
  font-size: $font-size-base * 0.65;
}
.font-size-15pt {
  font-size: $font-size-base * 0.75;
}
.font-size-17pt {
  font-size: $font-size-base * 0.85;
}
.font-size-20pt {
  font-size: $font-size-base;
}
.font-size-22pt {
  font-size: $font-size-base * 1.1;
}
.font-size-30pt {
  font-size: $font-size-base * 1.5;
}
.font-size-35pt {
  font-size: $font-size-base * 1.75;
}
.font-size-50pt {
  font-size: $font-size-base * 2.5;
}
/*----------------------------------------- */
/* Text paragraph light spacing */
.line-spacing-single {
  line-height: 1;
}
.line-spacing-double {
  line-height: 2;
}
/*----------------------------------------- */
/* Text alignment */
.text-centered {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
/*----------------------------------------- */
/* Other typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
a.arrow {
  color: $pink-rgba;
  text-decoration: none ;
}
a.arrow:hover, a.arrow:focus {
  color: $green-rgba;
}


/*****************************************************************************/
