/* Text colors */
.black {
  color: $black;
}
.white {
  color: $white;
}
.grey {
  color: $grey;
}
.grey-rgba {
  color: $grey-rgba;
}
.blue {
  color: $blue;
}
.blue-rgba {
  color: $blue-rgba;
}
.green {
  color: $green;
}
.green-rgba {
  color: $green-rgba;
}
.pink {
  color: $pink;
}
.pink-rgba {
  color: $pink-rgba;
}
.yellow {
  color: $yellow;
}
.yellow-rgba {
  color: $yellow-rgba;
}
/*----------------------------------------- */
/* Backgrounds colors */
.bg-black {
  background-color: $black;
}
.bg-white {
  background-color: $white;
}
.bg-grey {
  background-color: $blue;
}
.bg-grey-rgba {
  background-color: $blue-rgba;
}
.bg-blue {
  background-color: $blue;
}
.bg-blue-rgba {
  background-color: $blue-rgba;
}
.bg-green {
  background-color: $green;
}
.bg-green-rgba {
  background-color: $green-rgba;
}
.bg-pink {
  background-color: $pink;
}
.bg-pink-rgba {
  background-color: $pink-rgba;
}
.bg-yellow {
  background-color: $yellow;
}
.bg-yellow-rgba {
  background-color: $yellow-rgba;
}
/*****************************************************************************/
