/* MEDIA OBJECTS ------------------------------------------- */
/* (Cross all pages) */
.logo {
  background-image: url('../images/xs/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-decoration: none;
  width: 48px;
  height: 41px;
}
@media (min-width: $media-breakpoint-sm) { // sm devices (>=544px)
  .logo {
    // background-image: url('../images/sm/logo.png');
    // width: 80px;
    // height: 67px;
  }
}
@media (min-width: $media-breakpoint-md) { // md devices (>=768px)
  /* note: LG size */
  .logo {
    background-image: url('../images/lg/logo.png');
    width: 137px;
    height: 32px;
  }
}
@media (min-width: $media-breakpoint-lg) { //lg (up >=992px)
  // .logo { // is = .md screens
  //   background-image: url('../images/lg/logo.png');
  //   width: 137px;
  //   height: 32px;
  // }
}
@media (min-width: $media-breakpoint-xl) { // XL devices (≥1200px) – Non-Retina Screens
  .logo {
    background-image: url('../images/xl/logo.png');
    width: 171px;
    height: 40px;
  }
}
@media (min-width: $media-breakpoint-xl) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi){ // XL devices (≥1200px) – RETINA Screens
  .logo {
    background-image: url('../images/retina/xl/logo.png');
  }
}
@media (min-width: $media-breakpoint-xxl) { // XXL devices (≥1500px) – Non-Retina Screens
  .logo {
    background-image: url('../images/xxl/logo.png');
    width: 223px;
    height: 52px;
  }
}
@media (min-width: $media-breakpoint-xxl) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi){ // XXL devices (≥1500px) – RETINA Screens
  .logo {
    background-image: url('../images/retina/xxl/logo.png');
  }
}

/*----------------------------------------- */
/* Connectors */
.connector-img {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 42px;
}
.pink-connector-img {
  background-image: url('../images/xs/connector-img-pink.png');
  height: 117px;
}

.grey-connector-img {
  background-image: url('../images/xs/connector-img-grey.png');
  height: 117px;
}

.grey-big-connector-img {
  margin-top: 2em;
  background-image: url('../images/xs/connector-img-grey-big.png');
  height: 215px;
}
@media (min-width: $media-breakpoint-sm) { // sm devices (>=544px)

}
@media (min-width: $media-breakpoint-md) { // md devices (>=768px)

}
@media (min-width: $media-breakpoint-lg) { //lg (up >=992px)
  .connector-img {
    width: 39px;
  }
  .pink-connector-img {
    background-image: url('../images/lg/connector-img-pink.png');
    height: 129px;
  }

  .grey-connector-img {
    background-image: url('../images/lg/connector-img-grey.png');
    height: 129px;
  }

  .grey-big-connector-img {
    background-image: url('../images/lg/connector-img-grey-big.png');
    height: 253px;
  }
}
@media (min-width: $media-breakpoint-xl) { // XL devices (≥1200px) – Non-Retina Screens

}
@media (min-width: $media-breakpoint-xl) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi){ // XL devices (≥1200px) – RETINA Screens
  .pink-connector-img {
    background-image: url('../images/retina/xl/connector-img-pink.png');
  }

  .grey-connector-img {
    background-image: url('../images/retina/xl/connector-img-grey.png');
  }

  .grey-big-connector-img {
    background-image: url('../images/retina/xl/connector-img-grey-big.png');
  }
}
@media (min-width: $media-breakpoint-xxl) { // XXL devices (≥1500px) – Non-Retina Screens
  .connector-img {
    width: 44px;
  }
  .pink-connector-img {
    background-image: url('../images/xxl/connector-img-pink.png');
    height: 145px;
  }

  .grey-connector-img {
    background-image: url('../images/xxl/connector-img-grey.png');
    height: 145px;
  }

  .grey-big-connector-img {
    background-image: url('../images/xxl/connector-img-grey-big.png');
    height: 284px;
  }
}
@media (min-width: $media-breakpoint-xxl) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi){ // XXL devices (≥1500px) – RETINA Screens
  .pink-connector-img {
    background-image: url('../images/retina/xxl/connector-img-pink.png');
  }

  .grey-connector-img {
    background-image: url('../images/retina/xxl/connector-img-grey.png');
  }

  .grey-big-connector-img {
    background-image: url('../images/retina/xxl/connector-img-grey-big.png');
  }
}

/*----------------------------------------- */
/* Thanks image  */
.thanks-text {
  color: $grey;
  line-height: 1;
}
.thanks-image {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
  width: 172px;
  height: 334px;
  margin-top: 2em;
  z-index: 999;
}
.thanks-image-pt {
  background-image: url('../images/xs/thanks-img-pt.png');
}
.thanks-image-en {
  background-image: url('../images/xs/thanks-img-en.png');
}
.thanks-image-es {
  background-image: url('../images/xs/thanks-img-es.png');
}
@media (min-width: $media-breakpoint-sm) { // sm devices (>=544px)

}
@media (min-width: $media-breakpoint-md) { // md devices (>=768px)

}
@media (min-width: $media-breakpoint-lg) { //lg (up >=992px)
  .thanks-image {
    max-width: 178px;
    max-height: 330px;
  }
  .thanks-image-pt {
    background-image: url('../images/lg/thanks-img-pt.png');
  }
  .thanks-image-en {
    background-image: url('../images/lg/thanks-img-en.png');
  }
  .thanks-image-es {
    background-image: url('../images/lg/thanks-img-es.png');
  }
}
@media (min-width: $media-breakpoint-xl) { // XL devices (≥1200px) – Non-Retina Screens

}
@media (min-width: $media-breakpoint-xl) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi){ // XL devices (≥1200px) – RETINA Screens
  .thanks-image-pt {
    background-image: url('../images/retina/xl/thanks-img-pt.png');
  }
  .thanks-image-en {
    background-image: url('../images/retina/xl/thanks-img-en.png');
  }
  .thanks-image-es {
    background-image: url('../images/retina/xl/thanks-img-es.png');
  }
}
@media (min-width: $media-breakpoint-xxl) { // XXL devices (≥1500px) – Non-Retina Screens
  .thanks-image {
    max-width: 221px;
    max-height: 429px;
  }
  .thanks-image-pt {
    background-image: url('../images/xxl/thanks-img-pt.png');
  }
  .thanks-image-en {
    background-image: url('../images/xxl/thanks-img-en.png');
  }
  .thanks-image-es {
    background-image: url('../images/xxl/thanks-img-es.png');
  }
}
@media (min-width: $media-breakpoint-xxl) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi){ // XXL devices (≥1500px) – RETINA Screens
  .thanks-image-pt {
    background-image: url('../images/retina/xxl/thanks-img-pt.png');
  }
  .thanks-image-en {
    background-image: url('../images/retina/xxl/thanks-img-en.png');
  }
  .thanks-image-es {
    background-image: url('../images/retina/xxl/thanks-img-es.png');
  }
}
/*****************************************************************************/
